body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}